body {
    margin: 0;
}
header{
 background: #f3f3f3;
	padding-top: 25px;
	padding-bottom: 25px;
}

.layout {
    width: 1200px;
    margin: auto;
    overflow: hidden;
    
}

.logo {width: 20%;
	float: left;
}
.logo img{
	width: 70px;
}

nav{
    width: 80%;
    float: left;
}
ul{
    margin: 0;
    padding: 0;
}
li{
  
list-style: none;
}
a{
	text-decoration: none;
	float: left;
	font-size: 25px;
	margin-right: 25px;
    color: #4aa0f8;
}
a:hover{
	background:#f85c77;
}
h1 {
    margin: 0;
    text-align: center;
    font-size: 50px;
    text-transform: capitalize;
    color: #4a9efc;
    padding-bottom: 20px;
}
article {
    background: #f7f7f7;
    text-align: center;
    padding: 20px;
}
article img{
	width: 600px;
}
p{
	font-size: 20px;
}